<div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show':showModal}">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enlarged picture</h4>
            </div>
            <div class="modal-body">
                <img class="product-image" [src]="product.getImageUrl()" style="width: 400px;height: 400px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="showModal=false"
                    data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<button type="button" class="btn btn-default btn-block" (click)="showModal=true" data-toggle="modal"
    data-target="#myModal">
    <img class="product-image" [src]="product.getImageUrl()">
</button>